# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [23]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [24]:
file = "weatherdata.csv"
readfile = pd.read_csv(file)

weatherdf = pd.DataFrame(readfile)
weatherdf.head()

,Country,City,Lat,Lng,Wind Level,Max Temperature,Humidity,Date,Cloudiness
0,RE,saint-philippe,-21.36,55.77,10.29,68.00,56,1591478043,75
1,ZA,bredasdorp,-34.53,20.04,5.82,51.80,93,1591478017,0
2,CA,yellowknife,62.46,-114.35,11.41,66.00,34,1591478033,75
3,PT,porto novo,41.15,-8.61,6.93,62.01,87,1591478044,75
4,PF,rikitea,-23.12,-134.97,29.59,74.93,85,1591478044,100

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [25]:
gmaps.configure(api_key=g_key)
locations = weatherdf[['Lat', "Lng"]]
weight = weatherdf['Humidity'].astype(float)

In [26]:
fig = gmaps.figure()

heatmap = gmaps.heatmap_layer(locations, weights=weight)
fig.add_layer(heatmap)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [27]:
weatherdf.dropna()

,Country,City,Lat,Lng,Wind Level,Max Temperature,Humidity,Date,Cloudiness
0,RE,saint-philippe,-21.36,55.77,10.29,68.00,56,1591478043,75
1,ZA,bredasdorp,-34.53,20.04,5.82,51.80,93,1591478017,0
2,CA,yellowknife,62.46,-114.35,11.41,66.00,34,1591478033,75
3,PT,porto novo,41.15,-8.61,6.93,62.01,87,1591478044,75
4,PF,rikitea,-23.12,-134.97,29.59,74.93,85,1591478044,100
...,...,...,...,...,...,...,...,...,...
546,AF,dawlatabad,36.41,64.91,4.03,79.65,17,1591478194,0
547,CL,iquique,-20.22,-70.14,13.87,62.60,77,1591478195,40
548,ID,katobu,-4.94,122.53,3.42,73.02,93,1591478195,76
549,US,merrill,45.18,-89.68,4.03,73.40,43,1591478195,1
550,JP,itoman,26.12,127.67,10.29,78.80,94,1591478196,75

In [28]:
weatherdf.reset_index()
paradise = []
for ind in weatherdf.index:
    if weatherdf['Max Temperature'].loc[ind] > 70 and weatherdf['Max Temperature'].loc[ind] < 80 \
    and weatherdf['Wind Level'].loc[ind] < 10 and weatherdf['Cloudiness'].loc[ind] == 0:
        paradise.append(weatherdf.loc[ind])
    
paradisedf = pd.DataFrame(paradise)
paradisedf.head()

,Country,City,Lat,Lng,Wind Level,Max Temperature,Humidity,Date,Cloudiness
162,PF,faanui,-16.48,-151.75,2.95,76.69,52,1591478019,0
183,AO,namibe,-15.20,12.15,4.43,71.80,63,1591478035,0
382,BR,buritizeiro,-17.35,-44.96,2.06,71.65,65,1591478150,0
401,MG,morondava,-20.28,44.28,9.91,74.30,61,1591478156,0
430,ID,waingapu,-9.66,120.26,7.45,72.75,82,1591478165,0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [34]:
hotel_df = pd.DataFrame(paradisedf, columns=["Country", "City", "Lat", "Lng"])
hotel_df['Hotel Name'] = ""
hotel_df.head()
hotel_df = hotel_df.reset_index()
hotel_df.head()

   index Country         City    Lat     Lng Hotel Name
0    162      PF       faanui -16.48 -151.75
1    183      AO       namibe -15.20   12.15
2    382      BR  buritizeiro -17.35  -44.96
3    401      MG    morondava -20.28   44.28
4    430      ID     waingapu  -9.66  120.26

In [30]:
HotelName = []
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

place_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for ind in hotel_df.index:
    lng = hotel_df['Lng'][ind]
    lat = hotel_df['Lat'][ind]
    
    params["location"] = f"{lat},{lng}"

    info = requests.get(place_url, params=params)
    
    info = info.json()
    
    try:
        HotelName.append(info['results'][0]['name'])
        
    except:
        HotelName.append("Hotel Not Found")

In [37]:
hotel_df['Hotel Name'] = HotelName
hotel_df.to_csv("paradise_hotels.csv")

In [38]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [40]:
# Add marker layer ontop of heat map
marker = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))